// Заголовки, общие БЄМ блоки и проче...

.button {
	display: inline-block;
	padding: rem(15) rem(35);
	border: 1px solid #ffffff;
	font-weight: 500;
	font-size: rem(18);
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
	background-color: $mainColor;
}

.social {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: rem(25) 0;
	& :last-child .social__link {
		font-size: rem(24);
	}

	// .social__item

	&__item {
	}
	//.social__link
	&__link {
		display: inline-block;
		font-size: rem(39);
		@media (any-hover: hover) {
			&:hover {
				color: goldenrod;
			}
		}
		@media (max-width: $tablet) {
			&:active {
				color: goldenrod;
			}
		}
	}
}
