// Заголовки, общие БЄМ блоки и проче...
.top-title {
	font-weight: 400;
	font-size: rem(21);
	line-height: math.div(29, 21);
}
.section-title {
	// font-family: $secondFamily;
	font-weight: 800;
	font-size: rem(30);
	color: hsl(0, 0%, 0%);
	@media (max-width: $mobile) {
		font-size: rem(25);
	}
	@media (max-width: $mobileSmall) {
		font-size: rem(21);
	}
}

.social {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: rem(25) 0;
	& :last-child .social__link {
		font-size: rem(24);
	}

	// .social__item

	&__item {
	}
	//.social__link
	&__link {
		display: inline-block;
		font-size: rem(39);
		@media (any-hover: hover) {
			&:hover {
				color: goldenrod;
			}
		}
		@media (max-width: $tablet) {
			&:active {
				color: goldenrod;
			}
		}
	}
}

._hidden {
	display: none !important;
}
