// Заголовки, общие БЄМ блоки и проче...
.top-title {
	font-weight: 400;
	font-size: rem(21);
	line-height: math.div(29, 21);
}
.section-title {
	// font-family: $secondFamily;
	font-weight: 800;
	font-size: rem(30);
	color: hsl(0, 0%, 0%);
	@media (max-width: $mobile) {
		font-size: rem(25);
	}
	@media (max-width: $mobileSmall) {
		font-size: rem(21);
	}
}
.footer-list-title {
	border-bottom: 1px solid $mainColor;
	display: block;
	font-weight: 500;
	font-size: rem(18);
	line-height: math.div(25, 18);
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: $mainColor;
}
.input {
}

.button {
	display: inline-block;
	padding: rem(15) rem(35);
	border: 1px solid #ffffff;
	font-weight: 500;
	font-size: rem(18);
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
	background-color: $mainColor;
	@media (any-hover: hover) {
		&:hover {
			color: goldenrod;
			border: 1px solid goldenrod;
		}
	}
}

.social {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: rem(25) 0;
	& :last-child .social__link {
		font-size: rem(24);
	}

	// .social__item

	&__item {
	}
	//.social__link
	&__link {
		display: inline-block;
		font-size: rem(39);
		@media (any-hover: hover) {
			&:hover {
				color: goldenrod;
			}
		}
		@media (max-width: $tablet) {
			&:active {
				color: goldenrod;
			}
		}
	}
}
