//====================================================================================================
.page {
	// .page__events

	&__events {
	}
	// .page__stores

	&__stores {
	}
	// .page__articals

	&__articals {
	}
	// .page__mailing

	&__mailing {
	}
}
//====================================================================================================

.events {
	// .events__container
	&__container {
		padding: rem(100) rem(0) rem(120) rem(0);
		@media (max-width: $tablet) {
			padding: rem(80) rem(21) rem(90) rem(21);
		}
	}
	// .events__title

	&__title {
		text-align: center;
		margin-bottom: rem(15);
	}

	// .events__main-title

	&__main-title {
		text-align: center;
		margin-bottom: rem(60);
		@media (max-width: $tablet) {
			margin-bottom: rem(30);
		}
	}

	// .events__tabs

	&__tabs {
	}
}

.tabs-events {
	// .tabs-events__navigation

	&__navigation {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
		gap: rem(18);
		margin-bottom: rem(55);
		@media (max-width: $tablet) {
			grid-template-rows: auto;
			grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
			gap: rem(16);
			margin-bottom: rem(35);
		}
		@media (max-width: $mobileSmall) {
			gap: rem(10);
		}
	}

	// .tabs-events__title

	&__title {
		font-weight: 500;
		font-size: rem(18);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		text-align: center;
		padding: rem(17) rem(0);
		color: $mainColor;
		border: rem(1) solid $grey;
		@media (any-hover: hover) {
			&:hover {
				border: rem(1) solid goldenrod;
				color: goldenrod;
			}
		}
		&._tab-active {
			color: gold;
			background-color: $mainColor;
			border: rem(1) solid $mainColor;
		}
		@media (max-width: $tablet) {
			padding: rem(5) rem(0);
			font-size: rem(12);
		}
		@media (max-width: $mobile) {
			font-size: rem(11);
		}
	}

	// .tabs-events__content

	&__content {
	}

	// .tabs-events__body

	&__body {
	}

	// .tabs-events__items

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: rem(30);
		@media (max-width: $tablet) {
			grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
			gap: rem(20);
		}
		@media (max-width: $mobile) {
			grid-template-rows: repeat(auto-fit, minmax(50px, 120px));
		}
	}
	// .tabs-events__item

	&__item {
		display: block;
		position: relative;
	}

	// .tabs-events__link

	&__link {
		position: relative;
		display: block;
		padding: rem(140) rem(0);
		@media (any-hover: hover) {
			&:hover {
				&::after {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					z-index: 1;
					background-color: rgba(0, 0, 0, 0.357);
				}
				& ~ .tabs-events__text {
					z-index: 3;
					color: goldenrod;
				}
			}
		}
		@media (max-width: $mobile) {
			padding: rem(60) rem(0);
		}
	}

	// .tabs-events__img

	&__img {
	}

	// .tabs-events__text

	&__text {
		position: absolute;
		bottom: rem(30);
		left: 50%;
		transform: translate(-50%, 0px);
		color: #fff;
		text-transform: uppercase;
		font-weight: 500;
		font-size: rem(24);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		text-align: center;
		pointer-events: none;
		@media (any-hover: hover) {
			&:hover {
				color: goldenrod;
			}
		}
		@media (max-width: $mobile) {
			bottom: 50%;
			transform: translate(-50%, 50%);
		}
	}
}

//====================================================================================================

.stores {
	background: url("../img/main/bg/Rectangle 6.png") no-repeat center / cover;

	// .stores__container

	&__container {
		padding-top: rem(100);
		padding-bottom: rem(100);
		color: #ffffff;
		text-align: center;
		@media (max-width: $mobile) {
			padding-top: rem(50);
			padding-bottom: rem(50);
		}
	}

	// .stores__title

	&__title {
		margin-bottom: rem(15);
	}

	// .stores__main-title

	&__main-title {
		color: #ffffff;
		margin-bottom: rem(45);
		font-weight: 700;
		font-size: rem(30);
	}

	// .stores__text

	&__text {
		font-weight: 400;
		font-size: rem(18);
		line-height: math.div(25, 18);
		max-width: rem(730);
		margin: 0 auto rem(60) auto;
		@media (max-width: $mobile) {
			margin: 0 auto rem(40) auto;
		}
	}

	// .stores__button

	&__button {
		border: 1px solid $mainColor;
		padding: 15px 35px;
		display: inline-block;
		background-color: #fff;
		color: $mainColor;
		@media (any-hover: hover) {
			&:hover {
				background-color: $mainColor;
			}
		}
	}
}
//====================================================================================================

.articals {
	// .articals__container

	&__container {
		padding-top: rem(120);
		padding-bottom: rem(60);
		text-align: center;
		@media (max-width: $mobile) {
			padding-top: rem(60);
			padding-bottom: rem(30);
		}
	}

	// .articals__title

	&__title {
		text-align: center;
		margin-bottom: rem(15);
	}

	// .articals__main-title

	&__main-title {
		text-align: center;
		margin-bottom: rem(60);
	}

	// .articals__slider

	&__slider {
		margin-bottom: rem(60);
		@media (max-width: $mobile) {
			margin-bottom: rem(30);
		}
	}

	// .articals__wrapper

	&__wrapper {
	}

	// .articals__slide

	&__slide {
	}

	// .articals__image-ibg

	&__image-ibg {
		padding: rem(175) rem(0);
		display: block;
		@media (max-width: $mobileSmall) {
			padding: rem(120) rem(0);
		}
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 1;
			background: rgb(255, 255, 255);
			background: linear-gradient(
				180deg,
				rgba(255, 255, 255, 0.1) 0%,
				rgba(0, 0, 0, 0.4) 75%,
				rgba(0, 0, 0, 0.7) 100%
			);
		}
		&:hover::before {
			background: linear-gradient(
				180deg,
				rgba(255, 255, 255, 0.2) 0%,
				rgba(0, 0, 0, 0.5) 75%,
				rgba(0, 0, 0, 0.8) 100%
			);
		}
	}
	// .articals__slide-text

	&__slide-text {
		position: absolute;
		bottom: rem(30);
		left: 50%;
		transform: translate(-50%, 0px);
		font-weight: 400;
		font-size: rem(21);
		line-height: 140%;
		line-height: math.div(29, 21);
		text-align: center;
		color: #ffffff;
		pointer-events: none;
		z-index: 3;
		@media (max-width: $mobile) {
			bottom: 50%;
			transform: translate(-50%, 50%);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(18);
		}
	}

	// .articals__button

	&__button {
		border: 1px solid $mainColor;
		padding: 15px 35px;
		display: inline-block;
		color: #ffffff;
	}
}
//====================================================================================================

.mailing {
	background: url("../img/main/bg/Rectangle 6.png") no-repeat center / cover;
	color: #ffffff;

	// .mailing__container

	&__container {
		padding-top: rem(100);
		padding-bottom: rem(125);
		@media (max-width: $mobile) {
			padding-top: rem(50);
			padding-bottom: rem(65);
		}
	}

	// .mailing__title

	&__title {
		text-align: center;
		margin-bottom: rem(15);
	}

	// .mailing__main-title

	&__main-title {
		text-align: center;
		color: #fff;
		margin-bottom: rem(60);
	}

	// .mailing__body

	&__body {
		display: flex;
		align-items: center;
		@media (max-width: $tablet) {
			display: block;
		}
	}

	// .mailing__list

	&__list {
		flex: 0 1 45%;
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
	}

	// .mailing__item

	&__item {
		position: relative;
		display: flex;
	}

	// .mailing__svg
	&__svg {
		fill: #fff;
		position: absolute;
		width: rem(17);
		height: rem(17);
		top: 0;
		left: 0;
		background-color: #fff;
	}

	// .mailing__link

	&__link {
		display: inline-block;
		font-weight: 400;
		font-size: rem(18);
		line-height: math.div(25, 18);
		&::before {
			content: "\e903";
			font-family: "icomoon" !important;
			font-size: rem(17);
			margin-right: rem(14);
		}
	}

	// .mailing__form

	&__form {
		flex: 1 1 auto;
		border: rem(1) solid #fff;
		padding: rem(14) rem(15);
	}

	// .mailing__form-block
	&__form-block {
		display: flex;
		padding: rem(20) rem(22);
		background-color: #fff;
		column-gap: rem(15);
		@media (max-width: $mobile) {
			padding: 0;
			column-gap: rem(10);
		}
		@media (max-width: $mobileSmall) {
			padding: rem(10) rem(10);
		}
	}

	// .mailing__input

	&__input {
		flex: 1 1 auto;
		border: 1px solid #d6d6d6;
		padding-left: rem(42);
		&::placeholder {
			font-weight: 500;
			font-size: rem(14);
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: rgba(51, 51, 51, 0.5);
		}
		@media (max-width: $mobileSmall) {
			padding-left: rem(10);

			// max-width: rem(300);
			width: 100%;
		}
	}

	// .mailing__button

	&__button {
		@media (max-width: $mobile) {
			display: inline-block;
			padding: rem(15) rem(15);
			border: 1px solid #ffffff;
			font-weight: 500;
			font-size: rem(14);
			letter-spacing: 0.1em;
			text-transform: uppercase;
			text-align: center;
			background-color: $mainColor;
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(12);
			padding: rem(10) rem(10);
		}
	}
}
